.container
  div.button-wrap
    input(type="radio" name="accept-offers" id="yes-button" class="hidden radio-label" checked)
    label(for="yes-button" class="button-label")
      h1 Yes
    input(type="radio" name="accept-offers" id="no-button" class="hidden radio-label")
    label(for="no-button" class="button-label")
      h1 No
    input(type="radio" name="accept-offers" id="maybe-button" class="hidden radio-label")
    label(for="maybe-button" class="button-label")
      h1 Maybe
